# https://huggingface.co/ggml-org/DeepSeek-R1-Distill-Qwen-32B-Q8_0-GGUF
HF_REPO=ggml-org/DeepSeek-R1-Distill-Qwen-32B-Q8_0-GGUF
MODEL_DIR=$(HOME)/models/deepseek-r1-distill-qwen-32b
MODEL_FILE=deepseek-r1-distill-qwen-32b-q8_0.gguf
